.block.__button {
  text-align: center;

  .align {
    &.right {
      text-align: right;
    }

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.full {
      button {
        width: 100%;
      }
    }
  }
}

.align-buttons {
  display: flex !important;
  align-items: center;

  .ui.buttons {
    .ui.icon.button {
      padding: 4px;
      margin-left: 4px;
      border-radius: 1px;
      color: #826a6a !important;
    }

    .ui.active.basic.icon.button {
      border: 1px solid #2996da;
      background: transparent !important;
    }

    &:hover {
      background-color: #edf1f2 !important;
    }
  }
}
.__button .ui.button.primary{
  box-shadow: 0 2px 8px 0 #ff000082 !important;
}
.__button .ui.button{
  box-shadow: 0 2px 8px 0 #00000025 !important;
  border: 1px solid transparent;
}
.ui.button.white{
  background: #fff;
  transition: border 1s;
}
.ui.button.white:hover{
  background: #fff;
  border: 1px solid #d92518;
  color: #d92518;
  transition: border 1s;
}
.ui.button.gray{
  background: #F3F4F5;
  color: #000000;
  transition: border 1s;
}
.ui.button.gray:hover{
  background: #F3F4F5;
  border: 1px solid #d92518;
  color: #d92518;
  transition: border 1s;
}
.ui.button.gray span.button-desc{
  line-height: 14px !important;
  color: #5a5a5a;
}
